body {
    margin: 0;
    background-color: var(--color-primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    background: var(--color-bg);
    width: 100%;
    max-width: 400px;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px var(--color-shadow);
}

.login-header {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    color: var(--color-text);
    margin: 0.5rem 0;
}

.login-header p {
    color: var(--color-text-muted);
    font-size: 0.9rem;
}

/* Formulario */
.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--color-text);
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary-light);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-surface);
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: var(--color-primary);
}

/* Opciones y Botón */
.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.forgot-link {
    color: var(--color-primary);
    text-decoration: none;
}

.btn-login {
    width: 100%;
    padding: 14px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: var(--color-primary-light);

}

.login-footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.85rem;
    color: var(--color-text-muted);
}

.login-footer a {
    color: var(--color-alerta);
    text-decoration: none;
    font-weight: bold;
}